body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff0f5;
  margin: 0;
  padding: 0;
  color: #333;
}

/* src/components/Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: #f7f9fc;
  border-bottom: 1px solid #dbe2ea;
  font-family: 'Segoe UI', sans-serif;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.profile-icon {
  font-size: 1.4rem;
  cursor: pointer;
}
